@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 220 14% 60%;
    --primary-foreground: 260 9% 8%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220 8.9% 46.1%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 193 25% 75%;
    --accent-foreground: 260 9% 8%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 260 9% 8%;
    --foreground: 220 14% 75%;
    --card: 260 9% 10%;
    --card-foreground: 220 14% 75%;
    --popover: 260 9% 8%;
    --popover-foreground: 220 14% 75%;
    --primary: 220 14% 60%;
    --primary-foreground: 260 9% 8%;
    --secondary: 260 9% 12%;
    --secondary-foreground: 220 14% 75%;
    --muted: 260 9% 12%;
    --muted-foreground: 220 10% 50%;
    --accent: 193 25% 75%;
    --accent-foreground: 260 9% 8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 260 9% 15%;
    --input: 260 9% 15%;
    --ring: 220 14% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-tap-highlight-color: transparent;
  }
}
